.navbar {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    padding: 0px 40px;
    align-items: center;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}