/* input {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    padding-left: 15px;
    color: #f7f7f7;
}

input::placeholder {
    color: #f7f7f7;
    font-family: 'Ubuntu', sans-serif;
} */